body{
     padding: 40px 15px 15px 15px;
   }
.container{
    background-image:url(playcodelogo.png);
    background-repeat: no-repeat;
    background-position:top;
    padding-top: 80px;
    
           
   }
.card img{
    width: 100%;
}
h2{
    width: 100%;
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0;
    
}
@media (min-width:500px){

    .container{
        width: 960px;
        margin: 0 auto;
        background-position:top;
    }
    .card {
     width: 300px;
     padding-right:20px;
     float: left;
            
        
        
    }}
    
